body {
    background-color: rgb(255, 255, 255);
    background-image: url("download.jpg") no-repeat center center fixed;
}
.cafe {
    font-size: 100px;
    color: white;
    padding-left: 750px;
}
.fyi {
    color: rgb(0, 0, 0);
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    padding-left: 250px;
    padding-bottom: 300px;
}
.about {
    color: white;
    background-color: black;
    padding-left: 750px;
}
.navi {
    background-color: black;
    padding-left: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}
li {
    display: inline;
    padding-left: 150px;
    font-size: 30px;
  }
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  img {
      height: 975px;
  }
  .mb {
      background-color: black;
      color: white;
      font-size: 60px;
      padding-left: 400px;
  }